{% extends 'layouts/nabvar.html' %}

{% block content %}

<h2>Libros</h2>

<ul>
    {% for libro in Books %}

    <li>{{ libro.title }} <strong>Autor:</strong> 
        {% for autor in libro.author.all %}
            {{ autor.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Sin autor
        {% endfor %}</li>

    {% endfor %}
</ul>

<h2>Autores</h2>

<ul>
    {% for autor in Authors %}

    <li>{{ autor.name }} {{ autor.last_name }}</li>

    {% endfor %}
</ul>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


{% endblock %}