{% extends 'layouts/nabvar.html' %} {% block content %}

<h2>Libros</h2>

<ul>
  {% for libro in Books %}

  <li>
    {{ libro.title }} <strong>Autor:</strong>
    <!---->
    {% for autor in libro.author.all %}
    <!---->
    {{ autor.name }}
    <!---->
    {% endfor %}
  </li>

  {% endfor %}
</ul>

<h2>Autores</h2>

<ul>
  {% for autor in Authors %}

  <li>
    <!--  NOTA: si la url pide un argunmento como id debes colocarla al lado de la URL    -->
    <a href="{% url 'pruebas:blog' autor.id %}">
      {{ autor.name }} {{ autor.last_name }}
    </a>
  </li>
  <br />

  <button>
    <a href="{% url 'pruebas:update' autor.id %}">Editar</a>
  </button>
  <br />
  <br />
  {% endfor %}
</ul>
{% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %} {% endblock %}
