{% extends 'layouts/nabvar.html' %}

{% load static %}

{% block content %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/css/encuestas.css' %}">
{% endblock %}
<body>
    <head>
        <h1>Encuestas</h1>
    </head>
    <main>
        <p>This is the main</p>

        {% for pregunta in questions %}
            <div class="pregunta_sqlite">
                <h3 class="preguntas">{{ pregunta }}</h3>

                <ul>
                    {% for respuesta in pregunta.answer_set.all %}
                        <button>
                            
                            {{ respuesta }}
                            
                        </button>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

    </main>

</body>
</html>
{% endblock %}